@font-face {
    font-family: LatoRegular;
    src: url(../fonts/LatoRegular.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(../fonts/LatoBold.ttf);
}
@font-face {
    font-family: LatoBoldItalic;
    src: url(../fonts/LatoBoldItalic.ttf);
}
@font-face {
    font-family: LatoItalic;
    src: url(../fonts/LatoItalic.ttf);
}
a{
	text-decoration: none;
}

.page{
	padding: 80px;
}
.wrapper{
	background-color: rgb(247, 249, 252);	
}
.header{
	padding: 40px 15% 0 15%;
}
.header__logo{
	display: inline-block;
}
.header__nav{
	display: inline-block;
	margin: 10px auto;
	float: right;
}
.link-nav{
	font-family: LatoBold;
	font-size: 12px;
	color: rgb(0,0,0);
	margin: 12px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}
.link-nav:after{
	display: block;
	height: 2px;
	width: 0;
	background-color: rgb(92, 107, 192);
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-in;
}
.link-nav:hover:after{
	width: 100%;
}
.link-nav:active{
	color: rgb(116, 129, 201);
}
.header__nav :last-child{
	margin-right: 0;
	height: 12px;
}
.main{
	margin-top: 60px;
	margin-bottom: 60px;
}
.article{
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	background-color: rgb(255, 255, 255);
	margin: 40px auto;
	padding: 40px 50px;
	width: 60%;
	position: relative;
}
.article__button{
	background-color: rgb(92, 107, 192); 
	font-family: LatoBold;
	color: white;
	font-size: 14px;
	line-height: 1.6;
	text-transform: capitalize;
	padding: 5px;
	width: 100px;
	border:none;
	position: absolute;
	left:89%;
	top: 20px;
	-webkit-transition-property: padding, width, background-color;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in
}
.article__button:hover{
	background-color: rgb(108, 121, 198);
	padding:7px;
	width: 106px; 
}
.article__button:active{
	background-color: rgb(83, 96, 176);
	padding:7px;
	width: 106px;
}

.article__data{
	font-family: LatoRegular;
	color: rgb(203, 203, 203);
	font-size: 12px;
	margin:10px auto;
}
.article__title{
	font-family: LatoBold;
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid lightgrey;
}
.article__text{
	font-family: LatoRegular;
	color: rgb(105, 105, 105);
	font-size: 12px;
	line-height: 1.6;
	margin: 30px auto;
}
.article__text-grey{
	font-family: LatoItalic;
	color: rgb(163, 163, 163);
	line-height: 1.6;
	margin-top: 30px;
}
.article__text-grey-light{
	font-family: LatoRegular;
	color: rgb(206, 206, 206);
	font-size: 14px;
	padding-left: 10px;
	border-left:2px solid lightgrey; 
}
.article__prescription{
	font-family: LatoBold;
	color: rgb(89, 89, 89);
	font-size: 14px;
	line-height: 1.6;
	margin: 30px auto;
}
.link{
	color: rgb(110, 122, 198);
	text-decoration: underline;
}
.read{
	font-family: LatoBold;
	color: rgb(92, 107, 192);
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid white;
	background-color: white;
	width: 150px;
	padding: 15px;
	-webkit-transition-property: border-color;
	-webkit-transition-duration: 0.35s;
	-webkit-transition-timing-function: ease-in;
	text-align: center;
}
.read:hover{
	border-color:rgb(227, 227, 227);
}
.read:active{
	border-color:rgb(92, 107, 192);
}
.hash{
	float: right;
	display: inline-block;
}
.hash__link{
	font-family: LatoRegular;
	color: rgb(224, 224, 224);
	font-size: 10px;
	margin:2px;
}
.hash__link:hover{
	color: rgb(116, 129, 201);
	text-decoration: underline;
}
.hash__link:active{
	color: rgb(116, 129, 201);
	text-decoration: none;
}
.article__img{
	display: inline-block;
	float: left;
}
.footer{
	background-color: rgb(92, 107, 192);
	padding: 20px 40px 20px 40px;
}
.footer__title{
	font-family: LatoBoldItalic;
	color: rgb(79, 92, 166);
	font-size: 24px;
	text-align: center;
}
.footer__team:hover{
	text-decoration: underline;
}
.footer__nav{
	margin-top: 20px;
	text-align: center;  
}
.link-nav-f{
	font-family: LatoBold;
	color: rgb(255, 255, 255);
	font-size: 10px;
	margin: 12px;
	text-transform: uppercase;
}
.link-nav-f:hover{
	text-decoration: underline;
}
.link-nav-f:active{
	color: rgb(248, 248, 251);
	text-decoration: none;
}
.footer__text{
	margin: 20px auto;
	text-align: center;
	padding: 0 15%;
	font-family: LatoRegular;
	color: rgb(143, 152, 210);
	font-size: 10px;	
}
.footer__team{
	color: rgb(255, 255, 255);
}
.footer__link{
	text-align: center;
}
.link-icons{
	margin: 10px;
	width: 20px;
}
.form{
	margin: 30px auto;
}
.form__email{
	float: right;
	display: inline-block; 
}
.form__email{
	display: inline-block;
}
.form__name, 
.form__email,
.form__sub, 
.form__textarea{
	font-size: 14px;
	color: rgb(203, 205, 207);
	width: 270px;
	border: none;
	background-color:rgb(247, 249, 252);
	padding: 15px 30px;
	margin-bottom: 30px; 
}
.form__sub, .form__textarea{
	width: 640px;
	font-family: LatoRegular;
}
.form__textarea{
	height: 140px;
}