<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<meta charset="utf-8">
</head>
<body class="page">
	<div class="wrapper">
		<header class="header">
			<div class="header__logo">
				<a href="/">
					<img src="../img/logo.png" >
				</a>
			</div>
			<nav class="header__nav">
				<a href="index.html" class="link-nav">Home</a>
				<a href="" class="link-nav">About</a>
				<a href="" class="link-nav">Archive</a>
				<a href="contact.html" class="link-nav">Contact</a>
				<a href="" class="b-link-nav">
					<img src="../img/search.png" alt="search">
				</a>
			</nav>
		</header>
		<main class="main">
			<div class="article">
				<div class="article__title">Contact Us</div>
				<div class="article__prescription">
					Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
				</div>
				<img src="../img/line-c.png" width="100%">
				<form class="form" action="">
					<input class="form__name" placeholder="Your Name" type="text" name="fname" tabindex="1">
					<input class="form__email" placeholder="Email" type="email" name="email" tabindex="2">
					<input  class="form__sub" placeholder="Subject" type="text" name="subject" tabindex="3">
					<textarea class="form__textarea" maxlength="120">Your Message</textarea>
				</form>
				<div class="read">Send message</div>
			</div>
		</main>
		<footer class="footer">
		<div class="footer__title">Palo Alto</div>
		<nav class="footer__nav">
				<a href="index.html" class="link-nav-f">Home</a>
				<a href="" class="link-nav-f">About</a>
				<a href="" class="link-nav-f">Archive</a>
				<a href="" class="link-nav-f">Contact</a>
				<a href="" class="link-nav-f">
					<img src="../img/search-w.png" alt="search" width="10px">
				</a>
		</nav>
		<div class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
		</div>
		<div class="footer__text">
			© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="footer__team" href="">PixelBuddha Team </a>
		</div>
		<div class="footer__link">
			<a href="">
				<img src="../img/icons/fb.png" alt="facebook" class="link__icons">
			</a>
			<a href="">
				<img src="../img/icons/tw.png" alt="twitter" class="link__icons">
			</a>
			<a href="">
				<img src="../img/icons/inst.png" alt="instagram" class="link__icons">
			</a>
			<a href="">
				<img src="../img/icons/pinterest.png" alt="pinterest" class="link__icons">
			</a>
		</div>
	</footer>
	</div>
</body>
</html>