<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<meta charset="utf-8">
</head>
<body class="b-page">
	<div class="b-wrapper">
		<header class="b-header">
			<div class="b-header__logo">
				<a href="/">
					<img src="../img/logo.png" >
				</a>
			</div>
			<nav class="b-header__nav">
				<a href="index.html" class="b-link-nav">Home</a>
				<a href="" class="b-link-nav">About</a>
				<a href="" class="b-link-nav">Archive</a>
				<a href="contact.html" class="b-link-nav">Contact</a>
				<a href="" class="b-link-nav">
					<img src="../img/search.png" alt="search">
				</a>
			</nav>
		</header>
		<main class="b-main">
			<div class="b-article">
				<div class="b-article__title">Contact Us</div>
				<div class="b-article__prescription">
					Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
				</div>
				<img src="../img/line-c.png" width="100%">
				<form class="b-form" action="">
					<div class="b-line__top">
						<input  id="block1" class="b-form__input" placeholder="Your Name" type="text" name="fname" tabindex="1">
						<input  id="block2" class="b-form__input" placeholder="Email" type="email" name="email" tabindex="2">
					</div>
					<input  class="b-form__input" placeholder="Subject" type="text" name="subject" tabindex="3">
					<textarea class="b-form__input" maxlength="120">Your Message</textarea>
				</form>
				<div class="b-read">Send message</div>
			</div>
		</main>
		<footer class="b-footer">
		<a class="b-footer__title" href="index.html">Palo Alto</a>
		<nav class="b-footer__nav">
				<a href="index.html" class="b-link-nav-f">Home</a>
				<a href="" class="b-link-nav-f">About</a>
				<a href="" class="b-link-nav-f">Archive</a>
				<a href="" class="b-link-nav-f">Contact</a>
				<a href="" class="b-link-nav-f">
					<img src="../img/search-w.png" alt="search" width="10px">
				</a>
		</nav>
		<div class="b-footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
		</div>
		<div class="b-footer__text">
			© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span class="b-footer__team">PixelBuddha Team </span>
		</div>
		<div class="b-footer__link">
			<a href="">
				<img src="../img/icons/fb.png" alt="facebook" class="b-link__icons">
			</a>
			<a href="">
				<img src="../img/icons/tw.png" alt="twitter" class="b-link__icons">
			</a>
			<a href="">
				<img src="../img/icons/inst.png" alt="instagram" class="b-link__icons">
			</a>
			<a href="">
				<img src="../img/icons/pinterest.png" alt="pinterest" class="b-link__icons">
			</a>
		</div>
	</footer>
	</div>
</body>
</html>