<!DOCTYPE html>
<html>
<head>
	<title>Palo Alto</title>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<meta charset="utf-8">
</head>
<body class="page">
	<div class="wrapper">
		<header class="header">
			<div class="header__logo">
				<a href="index.html">
					<img src="../img/logo.png" >
				</a>
			</div>
			<nav class="header__nav">
				<a href="index.html" class="link-nav">Home</a>
				<a href="" class="link-nav">About</a>
				<a href="" class="link-nav">Archive</a>
				<a href="contacts.html" class="link-nav">Contact</a>
				<a href="" class="link-nav">
					<img src="../img/search.png" alt="search">
				</a>
			</nav>
		</header>
		<main class="main">
			<article class="article">
				<button class="article__button">I do travel</button>
				<div class="article__data">Sep 20</div>
				<div class="article__title">No difference how many peaks you reach
				if there was no pleasure in the climb.</div>
				<div class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
				</div>
				<div class="article__read-more">
					<button class="read">Read more</button>
					<div class="hash">
						<a href="" class="hash__link">#Yosemite</a>
						<a href="" class="hash__link">#Peak</a>
						<a href="" class="hash__link">#Explorer</a>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="article__main-img">
					<img src="../img/img1.jpg" width="100%">
				</div>
				<button class="article__button">I do observe</button>
				<div class="article__data">Sep 18</div>
				<div class="article__title">You know, i'd rather argue with you, then laugh with anyone else.</div>
				<div class="article__text-grey">
					Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. 
				</div>
				<div class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
					<p>Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
				</div>
				<div class="article__read-more">
					<button class="read">Read more</button>
					<div class="hash">
						<a href="" class="hash__link">#Yosemite</a>
						<a href="" class="hash__link">#Peak</a>
						<a href="" class="hash__link">#Photo</a>
					</div>
				</div>
			</article>
			<article class="article">
				<button class="article__button">I do reflect</button>
				<div class="article__data">Sep 11</div>
				<div class="article__title">Democracy means simply he bludgeoning o the people by the people for the people.</div>
					<img src="../img/img2.jpg" class="article__img">
				<div class="article__text">
					Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
					<p>Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <strong class="b-link">vestibulum malesuada</strong> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
				</div>
				
				<div class="article__text-grey-light">
					Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
				</div>
				<div class="article__text">
					Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. 
				</div>
				<div class="article__read-more">
					<button class="read">Read more</button>
					<div class="hash">
						<a href="" class="hash__link">#Democracy</a>
						<a href="" class="hash__link">#Interospection</a>
					</div>
				</div>
			</article>
		</main>
	<footer class="footer">
		<div class="footer__title">Palo Alto</div>
		<nav class="footer__nav">
				<a href="index.html" class="link-nav-f">Home</a>
				<a href="" class="link-nav-f">About</a>
				<a href="" class="link-nav-f">Archive</a>
				<a href="contacts.html" class="link-nav-f">Contact</a>
				<a href="" class="link-nav-f">
					<img src="../img/search-w.png" alt="search" width="10px">
				</a>
		</nav>
		<div class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
		</div>
		<div class="footer__text">
			© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="footer__team" href="">PixelBuddha Team </a>
		</div>
		<div class="footer__link">
			<a href="">
				<img src="../img/icons/fb.png" alt="facebook" class="link-icons">
			</a>
			<a href="">
				<img src="../img/icons/tw.png" alt="twitter" class="link-icons">
			</a>
			<a href="">
				<img src="../img/icons/inst.png" alt="instagram" class="link-icons">
			</a>
			<a href="">
				<img src="../img/icons/pinterest.png" alt="pinterest" class="link-icons">
			</a>
		</div>
	</footer>
	</div>
</body>
</html>