@font-face {
    font-family: PlayfairDisplay;
    color: rgb(98, 98, 98);
    src: url(../fonts/PlayfairDisplayRegular.ttf);
}
@font-face {
    font-family: PlayfairDisplayItalic;
    src: url(../fonts/PlayfairDisplayItalic.ttf);
}
@font-face {
    font-family: Inconsolata;
    src: url(../fonts/inconsolata.otf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-L.ttf);
}

a{
	text-decoration: none;
}

.b-page {
	width: 80%;
	margin: 40px auto;
}
.b-head{
	width: 100%;
	height: 30px;
}
.b-head__logo{
	float: left;
}
.b-head__nav{
	float: right;
	margin-top: 5px;
}
.b-link__nav{
	margin: 30px;
	font-size: 12px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-nav :last-child{
	margin-right: 0;
}
.b-about__img{
	margin: 0;
}
.b-main__img{
	margin-bottom: 60px;
}
.b-main__aside{
	float: right;
	max-width:300px; 
	max-height: 1000px;	
}
.b-aside__about{
	font-family: PlayfairDisplay;
}
.b-about__head{
	font-size: 16px;
	color: rgb(98, 98, 98);
	margin-top: 10px;
	margin-bottom: 10px;
}
.b-about__text{
	font-size: 12px;	
	color: rgb(137, 137, 137);
	margin-bottom: 10px;
}
.b-about__share{
	margin-top: 10px;
	margin-bottom: 10px;
}
.b-link__share{
	margin: 10px;
}
.b-about__share :first-child{
	margin-left: 0;
}
.b-aside__top{
	margin-top: 10px;
}
.b-top__header{
	text-transform: uppercase;
	font-size: 14px;
	font-family: Ubuntu;
	color: rgb(98, 98, 98);

}
.b-link-post{
	font-size: 16px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-posts__comment{
	text-transform: uppercase;
	font-size: 12px;
	font-family: Ubuntu;
	color: rgb(137, 137, 137);
}
.b-main__section{
	max-width: 700px;
}
.b-section__head{
	text-transform: uppercase;
	font-size: 14px;
	font-family: Ubuntu;
	color: rgb(137, 137, 137);
}
.b-article1__name{
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 20px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-article1__text{
	font-size: 14px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-article2__img{
	margin-bottom: 5px;
	margin-top: 5px;
}
.b-article3{
	margin-bottom: 10px;
	margin-top: 10px;
}
.b-article3__quote{
	margin-bottom: 20px;
	margin-top: 15px;
	font-size: 12px;
	font-family: PlayfairDisplayItalic; 
	color: rgb(137, 137, 137);
}
.b-article4{
	margin-bottom: 15px;
	margin-top: 10px;
}
.b-article4__text{
	font-size: 14px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-main__footer{
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
}
.b-footer__text{

	text-transform: uppercase;
	font-size: 14px;
	font-family: Ubuntu;
	color: rgb(137, 137, 137);
}
.b-footer{
	padding: 20px;
	height: 15px;
	width: 100%;
	position: relative;
	top: 70px;
	background-color: #d9d9d9;
}
.b-link__link{
	margin: 20px;
	font-size: 12px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-footer__icons{
	position: relative;
	bottom: 27px;
	left: 520px;
}