@font-face {
    font-family: PlayfairDisplay;
    color: rgb(98, 98, 98);
    src: url(../fonts/PlayfairDisplayRegular.ttf);
}
@font-face {
    font-family: PlayfairDisplayItalic;
    src: url(../fonts/PlayfairDisplayItalic.ttf);
}
@font-face {
    font-family: Inconsolata;
    src: url(../fonts/inconsolata.otf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-L.ttf);
}

a{
	text-decoration: none;
}

.b-page {
	width: 80%;
	margin: 40px auto;
}
.b-head{
	width: 100%;
	height: 30px;
}
.b-head__logo{
	float: left;
}
.b-head__nav{
	float: right;
	margin-top: 5px;
}
.b-link__nav{
	margin: 30px;
	font-size: 12px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-nav :last-child{
	margin-right: 0;
}
.b-about__img{
	margin: 0;
}
.b-main__img{
	margin-bottom: 60px;
}
.b-main__aside{
	float: right;
	max-width:300px; 
	max-height: 1000px;	
}
.b-aside__about{
	font-family: PlayfairDisplay;
}
.b-about__head{
	font-size: 16px;
	color: rgb(98, 98, 98);
	margin-top: 10px;
	margin-bottom: 10px;
}
.b-about__text{
	font-size: 12px;	
	color: rgb(137, 137, 137);
	margin-bottom: 10px;
}
.b-about__share{
	margin-top: 10px;
	margin-bottom: 10px;
}
.b-link-share{
	margin: 10px;
}
.b-about__share :first-child{
	margin-left: 0;
}
.b-aside__top{
	margin-top: 10px;
}
.b-top__header{
	text-transform: uppercase;
	font-size: 14px;
	font-family: Ubuntu;
	color: rgb(98, 98, 98);

}
.b-link-post{
	font-size: 16px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-posts__comment{
	text-transform: uppercase;
	font-size: 12px;
	font-family: Ubuntu;
	color: rgb(137, 137, 137);
}
/*.b-main__section{
	float: left;
}*/
.b-section__head{
	text-transform: uppercase;
	font-size: 14px;
	font-family: Ubuntu;
	color: rgb(137, 137, 137);
}
.b-article1__name{
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 20px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-article1__text{
	font-size: 12px;
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
}
.b-section__article2{
	
}
/*body {
	width: 80%;
	margin: 80px auto;
}
.header {
	display: inline-block;
	float: left;
	text-transform: uppercase;
	width: 100%;
}
.menu{
	margin: 0;
	padding: 0;
}
#minimo{
	font-size: 26px;
	font-family: Inconsolata;
}
.leaf {
	font-family: PlayfairDisplay;
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 50px;

}
.list {
	float: right;
}
.aside {
	box-sizing: border-box;
	float: right;
	font-family: PlayfairDisplay;
	font-size: 12px;
	margin-top: 70px;
	margin-left: 10px;
	min-height: 350px;
	max-width: 300px;
}
.icons {
	margin: 8px;
}
#ablinks {
	margin-top: 10px;
}
#about {
	color: rgb(98, 98, 98);
	font-family: PlayfairDisplay;
}
#script {
	font-size: 26px;
}
#post {
	padding-left: 20px;
}
.comment {
	font-family: Ubuntu;
	color: rgb(180, 173, 158);
  	text-transform: uppercase;
}
.section {
	max-width: 600px;
}
.pic {
	width: 100%;
	margin: 0px;
}
img {
	margin-top: 0px;
}
.footer {
	padding: 20px;
	height: 20px;
	width: 100%;
	position: relative;
	top: 70px;
	background-color: #d9d9d9;
}
.caption{
	font-family: PlayfairDisplay;
	color: rgb(98, 98, 98);
	margin-right:  5px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.text {
	font-size: 14px;
}
#duis {
	font-size: 12px;
	font-family: PlayfairDisplayItalic; 
	color: rgb(98, 98, 98);
}
.bold {
	font-weight: bold;
}
#share {
	margin-top: 20px;
	display: inline-block;
	float: right;
}
#shar {
	font-size: 13px;
  	font-family: Ubuntu;
  	color: rgb(180, 173, 158);
 	text-transform: uppercase;
}
.icons1 {
	margin-right: 8px;
	margin-left: 8px;
}
#left {
	font-family: PlayfairDisplay;
	font-size:14px;
	color: rgb(98, 98, 98);
	float: left;
}
#right {
	float: right;
}
#size {
	font-size: 48px;
	font-family: Ubuntu;
 	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
#banner_spot {
	font-size: 14px;
  	font-family: Ubuntu;
  	color: rgb(255, 255, 255);
  	text-transform: uppercase;
}
a {
	color: rgb(98, 98, 98);
	text-decoration: none;
}
img {
	margin-top: 10px;
}*/